<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
  {{#link-to "index" class="navbar-brand"}}imgIX Image Tool{{/link-to}}
</nav>

<div class="container-fluid mt-3">
  {{outlet}}
</div>

